#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counterContainer{
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}
#add, #sub{
  height: 45px;
  width: 90px;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
